<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        
		<defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
		</defaultDocument>
		
		<!--<rewrite>
		  <rules>
			<remove name="fingerprint" />
			<rule name="fingerprint">
			  <match url="([\S]+[ ]*[\S]+)(/v-[0-9]+/)([\S]+)" />
			  <action type="Rewrite" url="{R:1}/{R:3}" />
			</rule>
			
			
		  </rules>
		</rewrite>-->
		
		
    </system.webServer>
</configuration>
